* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 30px;
}

.container {
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #111111;
}

.product-form {
  display: flex;
  flex-direction: column;
}

.product-form label {
  margin: 15px 0 5px;
  color: #151515;
  font-size: 16px;
}

.product-form input,
.product-form select,
.product-form textarea {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.product-form textarea {
  resize: vertical;
}

.product-form a {
  padding: 12px 20px;
  background-color: #0a0a0a;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.product-form a:hover {
  background-color: #cbd2cb;
}

.product-form input[type="file"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fafafa;
}

.product-form select {
  padding: 12px;
}

.product-form input[type="text"],
.product-form input[type="number"] {
  font-size: 16px;
}
.pagination {
  display: flex;
  justify-content: center;
  /* Căn giữa các phần tử */
  margin-top: 20px;
  margin-bottom: 20px;
  /* Khoảng cách phía trên */
}

.pagination a {
  color: #f6f1f1;
  /* Màu chữ */
  padding: 8px 12px;
  /* Khoảng cách bên trong */
  margin: 0 4px;
  /* Khoảng cách giữa các liên kết */
  text-decoration: none;
  /* Bỏ gạch chân */
  border: 1px solid #ddd;
  /* Viền cho các liên kết */
  border-radius: 4px;
  /* Bo góc */
  font-weight: bold;
}

.pagination a:hover {
  background-color: #dcdada;
  /* Màu nền khi hover */
  color: white;
  /* Màu chữ khi hover */
}

.pagination a.active {
  background-color: #007bff;
  /* Màu nền cho trang đang hoạt động */
  color: rgb(19, 19, 19);
  /* Màu chữ cho trang đang hoạt động */
  border: 1px solid #007bff;
  /* Viền cho trang đang hoạt động */
}
a {
  text-decoration: none;
}